*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

@font-face {
  font-family: '13-roshi';
  src: url('fonts/13-roshi.eot'); /* IE9 Compat Modes bug */
  src: url('fonts/13-roshi.eot?#iefix') format('embedded-opentype'),
       url('fonts/13-roshi.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}


/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,600);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: #4f1818;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

/* Header Style */
.codrops-top {
	text-transform: uppercase;
	position: relative;
	z-index: 1000;
	font-size: 0.68em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: rgba(255,255,255,0.2);
	display: inline-block;
}

.codrops-top a:hover {
	color: rgba(255,255,255,0.9);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}


@media screen and (max-width: 40em) {

	.codrops-header h1 {
		font-size: 2.5em;
	}
}
